{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}
{% block title %}All Boards | debugdb | snopl.us{% endblock %}
{% block content %}
<ol class="breadcrumb" style="margin-top: 10px;">
 <li><a href="{% url "debugdb.views.index" %}">debugdb</a></li>
 <li class="active">Boards</li>
</ol>

<h1>All Boards</h1>

<table style="width: 1%" class="table table-striped table-condensed">
 <tr>
  <th>ID</th>
  <th style="text-align:center">Location</th>
  <th style="text-align:center">Status</th>
 </tr>
 {% for board in boards %}
 {% with board.id as board_id %}
 {% with board.value as value %}
  <tr>
   <th><a href="{% url "debugdb.views.board" board_id %}">{{ board_id }}</a></th>
   <td style="text-align:center">{{ value.1 }}</td>
   <td style="text-align:center">
    {% with value.0 as status %}
    {% include "debugdb/components/board_badge.html" %}
    {% endwith %}
   </td>
  </tr>
 {% endwith %}
 {% endwith %}
 {% endfor %}
</table>

{% endblock %}

