<div class="modal fade" id="tag-add-modal">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="tagAddModal">Add Status Tag</h4>
   </div>
   <div class="modal-body">
    <form method="POST" action="{% url "debugdb.views.new_tag" %}">
    {% csrf_token %}
    <h3>New tag for <b class="id"></b></h3>
    <input type="hidden" name="board" value=""/>
    <table class="table">
     <tr>
      <th>Author</th>
      <td><input type="text" class="form-control" name="author"/></td>
     </tr>
     <tr>
      <th>Status</th>
      <td>
       <select class="form-control" name="status">
        <option value="none">None</option>
        <option value="gold">Gold</option>
        <option value="silver">Silver</option>
        <option value="bad">Bad</option>
        <option value="bone">Bone</option>
        <option value="matched">Matched</option>
       </select>
      </td>
     </tr>
     <tr>
      <th>Comments</th>
      <td><textarea name="content" class="form-control"></textarea>
     </tr>
     <tr>
      <th></th>
      <td style="text-align: right"><button class="btn btn-default">Add</button></td>
     </tr>
    </table>
    </form>
   </div>
  </div>
 </div>
</div>
<script>
$(function() {
 $('.tag-add').on('click', function(e) {
  e.stopPropagation();
  var target = $(e.currentTarget);
  var modal = $('#tag-add-modal');
  modal.find('.id').html(target.attr('data-board'));
  modal.find('input[name="board"]').val(target.attr('data-board'));
  $('#tag-add-modal').modal('show');
 });
});
</script>

