{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Task {{ task }} | {{ type }} Build Tests | snopl.us{% endblock %}
{% block content %}
<h2>
  <a href="/code/{{ path }}"><span style="color: gray" class="glyphicon glyphicon-chevron-left"></span></a>
  Task {{ task }} for {{ type }} Build Tests
</h2>
<table class="table table-striped" width="100%">
 <tr>
  <th>ID</th>
  <th>Created</th>
  <th>Node</th>
  <th>Started</th>
  <th>Completed</th>
  <th>Status</th>
  <th>Results</th>
 </tr>
{% for row in data.rows %}
 <tr>
  <td><a href="/code/{{ path }}/record/{{ row.value.record_id }}">{{ row.value.record_id }}</a></td>
  <td>{{ row.value.created }}</td>
  <td>{{ row.value.node }}</td>
  <td>{{ row.value.started }}</td>
  <td>{{ row.value.completed }}</td>
  <td>
   {% if row.value.results.success and row.value.completed %}
     <div class="label label-success" title="Passed">&nbsp;</div>
   {% endif %}
   {% if row.value.started and not row.value.completed %}
     <div class="label label-primary" title="In progress">&nbsp;</div>
   {% endif %}
   {% if not row.value.results.success and row.value.completed %}
     <div class="label label-danger" title="Failed">&nbsp;</div>
   {% endif %}
   {% if not row.value.started %}
     <div class="label label-default" title="Waiting">&nbsp;</div>
   {% endif %}
  </td>
  <td style="white-space: nowrap;">
   {% for attachment in row.value.results.attach_links %}
     <a href="/code/{{ type }}/attachment/{{ row.id }}/{{ attachment.id }}">{{ attachment.name }}</a>
   {% endfor %}
   {% if row.value.results %}
   <a data-toggle="modal" data-target="#results_{{ row.id }}" href="#results_{{ row.id }}">
    <span style="color: gray" class="glyphicon glyphicon-cog"></span>
   </a>
   <div class="modal fade" id="results_{{ row.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
     <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h4 class="modal-title">{{ row.id }}</h4>
     </div>
     <div class="modal-body">
      <pre style="color:black">
       {{ row.value.results|pprint }}
      </pre>
     </div>
    </div>
   </div>
   {% endif %}
  </td>
 </tr>
{% endfor %}
</table>
{% endblock %}

