{% extends 'base.html' %}
{% block title %}Phone Calls | snopl.us{% endblock %}
{% block content %}
<h1>Phone Call Calendar</h1>

<h3>SNOLAB Conference</h3>
<p style="font-weight:bold">+1 (705) 692-7777</p>
<p><a target="_blank" href="https://www.snolab.ca/docushare/dsweb/Calendars#phone-conference">Calendar on SNOLAB DocuShare</a>

<h3>Uber Conference</h3>
<p style="font-weight:bold">+1 (888) 534-8348</p>
<p><a target="_blank" href="https://www.snolab.ca/snoplus/private/DocDB/0027/002769/004/ReadyTalk.pdf">Detailed access and calendar information</a></p>

<iframe src="https://calendar.google.com/calendar/embed?src=omjn7pp1ve16ekjctoir8a6oqs%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

{% endblock %}

