{% extends 'base.html' %}
{% block title %}People | snopl.us{% endblock %}
{% block content %}
<h1>Collaboration Email List</h1>
<h4>Author: I. Coulter, <a href="mailto:icoulter@hep.upenn.edu">icoulter@hep.upenn.edu</a></h4>

<table class="table table-striped table-condensed" style="width:100%">
  <tr><td colspan="3" style="background: #eee"><h3>University of Alberta</h3></td></tr>
  <tr>
    <td>Aksel Hallin</td>
    <td>aksel.hallin@ualberta.ca</td>
    <td>+1 780 492 3516</td>
  </tr>
  <tr>
    <td>Carsten Krauss</td>
    <td>carsten.krauss@ualberta.ca</td>
    <td>+1 780 492 7610</td>
  </tr>
  <tr>
    <td>Kalpana Singh</td>
    <td>kalpana.singh@ualberta.ca</td>
    <td>+1 780 248 1187</td>
  </tr>
  <tr>
    <td>Aleksandra Bialek</td>
    <td>abialek@ualberta.ca</td>
    <td>+1 705 692 7000 ext 2707</td>
  </tr>
  <tr>
    <td>David Auty</td>
    <td>auty@ualberta.ca</td>
    <td>+1 780 492 0338</td>
  </tr>
  <tr>
    <td>Logan Sibley</td>
    <td>lsibley@ualberta.ca</td>
    <td>+1 780 248 1187</td>
  </tr>
  <tr>
    <td>Pawel Mekarski</td>
    <td>mekarski@ualberta.ca</td>
    <td>+1 780 248 1187</td>
  </tr>
  <tr>
    <td>Jie Hu</td>
    <td>jhu9@ualberta.ca</td>
    <td>+1 780 243 1735</td>
  </tr>
  <tr>
    <td>Chris Ng (engineer)</td>
    <td>cjng@ualberta.ca</td>
    <td>+1 780 492 5979</td>
  </tr>
  <tr>
    <td>Richard Soluk (detectors)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Paul Davis</td>
    <td></td>
    <td></td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>Armstrong Atlantic State University</h3></td></tr>
  <tr>
    <td>Jeff Secrest</td>
    <td>Jeffery.Secrest@armstrong.edu</td>
    <td>+1 912 344 2976</td>    
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>U.C. Berkeley/LBNL</h3></td></tr>
  <tr>
    <td>Gabriel Orebi Gann</td>
    <td>gorebigann@lbl.gov</td>
    <td>+1 510 495 8235</td>
  </tr>
  <tr>
    <td>Javier Caravaca</td>
    <td>jcaravaca@berkeley.edu</td>
    <td>+1-510-486-4038</td>
  </tr>  
  <tr>
    <td>Freija Descamps</td>
    <td>fbdescamps@lbl.gov</td>
    <td>+1-510-486-4038</td>
  </tr>
  <tr>
    <td>Richie Bonventre</td>
    <td>rbonventre@lbl.gov</td>
    <td></td>
  </tr>
  <tr>
    <td>Chris Jackson</td>
    <td>chrisjackson@berkeley.edu</td>
    <td>+1-510-486-4038</td>
  </tr>
  <tr>
    <td>Benjamin Land</td>
    <td>benland100@berkeley.edu</td>
    <td>+1-510-486-4034</td>
  </tr>
  <tr>
    <td>Jeffrey Prouty</td>
    <td>jcprouty@berkeley.edu</td>
    <td></td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>Brookhaven National Laboratory</h3></td></tr>
  <tr>
    <td>Minfang Yeh</td>
    <td>yeh@bnl.gov</td>
    <td>+1 631 344 2870</td>
  </tr>
  <tr>
    <td>Sunej Hans</td>
    <td>shans@bnl.gov</td>
    <td>+1 631 344 4992</td>
  </tr>
  <tr>
    <td>Richard Rosero</td>
    <td>rrosero@bnl.gov</td>
    <td>+1 631 344 4992</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>University of Chicago</h3></td></tr>
  <tr>
    <td>Ed Blucher</td>
    <td>blucher@hep.uchicago.edu</td>
    <td>+1 773 702 7486</td>
  </tr>
  <tr>
    <td>Kevin Labe</td>
    <td>klabe@uchicago.edu</td>
    <td>+1 773 702 5983</td>
  </tr>
  <tr>
    <td>Anthony LaTorre</td>
    <td>tlatorre@uchicago.edu</td>
    <td>+1 773 702 5983</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>U.C. Davis</h3></td></tr>
  <tr>
    <td>Bob Svoboda</td>
    <td>rsvoboda@physics.ucdavis.edu</td>
    <td>+1 530 754 9610 (office)
    <br/>+1 916 916 8556 (mobile)</td>
  </tr>
  <tr>
    <td>Chris Grant</td>
    <td>cpgrant@ucdavis.edu</td>
    <td>+1 608 712 4850 (mobile)</td>
  </tr>
  <tr>
    <td>Morgan Askins</td>
    <td>maskins@ucdavis.edu</td>
    <td>+1 941 400 8886 (mobile)</td>
  </tr>
  <tr>
    <td>Teal Pershing</td>
    <td>tjpershing@ucdavis.edu</td>
    <td></td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>T.U. Dresden</h3></td></tr>
  <tr>
    <td>Kai Zuber</td>
    <td>zuber@physik.tu-dresden.de</td>
    <td>+49 351 463 42250</td>
  </tr>
  <tr>
    <td>Valentina Lozza</td>
    <td>valentina.lozza@tu-dresden.de</td>
    <td>+49 351 463 32916</td>
  </tr>
  <tr>
    <td>Arnd Soerensen</td>
    <td>arnd.soerensen@tu-dresden.de</td>
    <td>+49 351 463 32058</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>Lancaster University</h3></td></tr>
  <tr>
    <td>Helen M. O'Keeffe</td>
    <td>h.okeeffe@lancaster.ac.uk</td>
    <td>+44 152 459 3223</td>
  </tr>
  <tr>
    <td>Laura L. Kormos</td>
    <td>l.kormos@lancaster.ac.uk</td>
    <td>+44 152 459 3352</td>
  </tr>
  <tr>
    <td>Matthew Parnell</td>
    <td>m.parnell@lancaster.ac.uk</td>
    <td>+44 152 459 3278</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>Laurentian University</h3></td></tr>
  <tr>
    <td>Doug Hallman</td>
    <td>dhallman@laurentian.ca</td>
     <td>+1 705 675 1151 x2202 (LU)
     <br/>+1 705 692 7000 x2273 (SNOLAB)</td>
  </tr>
  <tr>
    <td>Clarence Virtue</td>
    <td>cjv@snolab.ca</td>
    <td>+1 705 675 1151 x2223 (LU)
    <br/>+1 705 618 1860 (Cell)</td>
  </tr>
  <tr>
    <td>Christine Kraus</td>
    <td>tine@snolab.ca</td>
    <td>+1 705 675 1151 x4337 (LU)
    <br/>+1 705 692 7000 x2295 (SNOLAB)
    <br/>+1 705 561 8413 (Cell)</td>
  </tr>
  <tr>
    <td>Oleg Chkvorets</td>
    <td>chkvoret@snolab.ca</td>
    <td>+1 705 675 1151 x2238 (LU)</td>
  </tr>
  <tr> 
    <td>Erica Caden</td>
    <td>ecaden@snolab.ca</td>
    <td>+1 705 675 1151 x2168 (LU)</td>
  </tr>
  <tr>         
    <td>David Braid</td>
    <td>dave.braid@snolab.ca</td>
    <td>+1 705 675 1151 x2168 (LU)</td>
  </tr>
  <tr> 
    <td>Dimpal Chauhan</td>
    <td>dchauhan@snolab.ca</td>
    <td>+1 705 675 1151 x2168 (LU)</td>
  </tr>
  <tr>
    <td>Caitlyn Darrach</td>
    <td>caitlyn.darrach@gmail.com</td>
    <td>+1 705 675 1151 x2165 (LU)</td>
  </tr>
  <tr>
    <td>Janet Rumleskie</td>
    <td>jrrumles@snolab.ca</td>
    <td>+1 705 675 1151 x2165 (LU)</td>
  </tr>
  <tr> 
    <td>Pouya Khaghani</td>
    <td>pouya@snolab.ca</td>
    <td>+1 705 675 1151 x2168 (LU)</td>
  </tr>
  <tr> 
    <td>Matt Depatie</td>
    <td>mmdepatie@gmail.com</td>
    <td></td>
  </tr>
  <tr>
    <td>Philip Rost</td>
    <td>pm_rost@laurentian.ca</td>
    <td>+1 705 675 1151 x2168</td>
  </tr>
  <tr>
    <td>Ingrida Semenec</td>
    <td>ingrida@snolab.ca</td>
    <td>+1 705 675 1151 x2168 (LU)</td>
  </tr>
  <tr>
    <td>Brad Hreljac</td>
    <td>bhreljac@snolab.ca</td>
    <td>+1 705 692 7000 x2720 (SNOLAB)</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>LIP (Lisbon & Coimbra)</h3></td></tr>
  <tr>
    <td>Amelia Maio</td>
    <td>amelia@lip.pt</td>
    <td></td>
  </tr>
  <tr>
    <td>Ana Sofia Inacio</td>
    <td>ainacio@lip.pt</td>
    <td></td>
  </tr>
  <tr>
    <td>Gersende Prior</td>
    <td>gersende@lip.pt</td>
    <td>+35 121 799 5030</td>
  </tr>
  <tr>
    <td>Jos&eacute; Maneira</td>
    <td>maneira@lip.pt</td>
    <td>+35 121 799 8582</td>
  </tr>
  <tr>
    <td>Lia Samara</td>
    <td>samara@lip.pt</td>
    <td></td>
  </tr>
  <tr>
    <td>Pedro Jorge</td>
    <td>pmjorge@lip.pt</td>
    <td></td>
  </tr>
  <tr>
    <td>Rui Alves</td>
    <td>alves@coimbra.lip.pt</td>
    <td></td>
  </tr>
  <tr>
    <td>Sofia Andringa</td>
    <td>sofia@lip.pt</td>
    <td></td>
  </tr>
  <tr>
    <td>Stefan Nae</td>
    <td>stefan@lip.pt</td>
    <td></td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>University of Liverpool</h3></td></tr>
  <tr>
    <td>Neil McCauley</td>
    <td>n.mccauley@liv.ac.uk</td>
    <td>+44 151 794 3354</td>
  </tr>
  <tr>
    <td>Joachim Rose</td>
    <td>h.j.rose@liverpool.ac.uk</td>
    <td>+44 151 794 3378</td>
  </tr>
  <tr>
    <td>Robert Stainforth</td>
    <td>R.Stainforth@liverpool.ac.uk</td>
    <td></td>
  </tr>
  <tr> 
    <td>John Walker</td>
    <td>John.Walker@liverpool.ac.uk</td>
    <td></td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>UNAM</h3></td></tr>
  <tr>
    <td>Eric Vazquez Jauregui</td>
    <td>ericvj@fisica.unam.mx</td>
    <td></td>
  </tr>
  <tr>
    <td>Jose Guillermo Lara Delgado</td>
    <td>guillermo.lara@ciencias.unam.mx</td>
    <td></td>
  </tr>
  <tr>
    <td>Jose Luis Hernandez Hernandez</td>
    <td>luis.hernandez@ciencias.unam.mx</td>
    <td></td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>University of North Carolina</h3></td></tr>
  <tr>
    <td>Mark Howe</td>
    <td>mhowe@physics.unc.edu</td>
    <td>+1 919 962 3260</td>
  </tr>
  <tr>
    <td>John Wilkerson</td>
    <td>jfw@unc.edu</td>
    <td>+1 919 962 1384</td> 
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>Norwich University</h3></td></tr>
  <tr>
    <td>Rob Knapik</td>
    <td>knapik@hep.upenn.edu
    <br/><a href="mailto:rknapik@norwich.edu">rknapik@norwich.edu</a></td>
    <td>+1 802  485 3335</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>University of Oxford</h3></td></tr>
  <tr>
    <td>Steve Biller</td>
    <td>s.biller1@physics.ox.ac.uk</td>
    <td>+44 186 527 3386</td>
  </tr>
  <tr>
    <td>Armin Reichold</td>
    <td>a.reichold1@physics.ox.ac.uk</td>
    <td>+44 186 527 3358</td>
  </tr>
  <tr>
    <td>Jeff Tseng</td>
    <td>Jeff.Tseng@physics.ox.ac.uk</td>
    <td>+44 186 527 3398</td>
  </tr>
  <tr>
    <td>Laura Segui</td>
    <td>Laura.Segui@physics.ox.ac.uk</td>
    <td></td>
  </tr>
  <tr>
    <td>Krish Majumdar</td>
    <td>Krishanu.Majumdar@physics.ox.ac.uk</td>
    <td>+44 186 527 3395</td>
  </tr>
  <tr>
    <td>Chris Jones</td>
    <td>Christopher.Jones@physics.ox.ac.uk</td>
    <td>+44 186 527 3395</td>
  </tr>
  <tr>
    <td>Jack Dunger</td>
    <td>Jack.Dunger@physics.ox.ac.uk</td>
    <td>+44 186 527 3395</td>
  </tr>
  <tr>
    <td>Jeff Lidgard</td>
    <td>j.lidgard1@physics.ox.ac.uk</td>
    <td>+44 186 527 3492</td>
  </tr>
  <tr>
    <td>Luca Cavalli</td>
    <td>luca.cavalli@physics.ox.ac.uk</td>
    <td>+44 186 527 3395</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>University of Pennsylvania</h3></td></tr>
  <tr>
    <td>Nuno Barros</td>
    <td>nfbarros@hep.upenn.edu</td>
    <td>+1 215 898 1705</td>
  </tr>
  <tr>
    <td>Eugene Beier</td>
    <td>geneb@hep.upenn.edu</td>
    <td>+1 215 898 5979</td>
  </tr>
  <tr>
    <td>Ed Callaghan</td>
    <td>ejc87@drexel.edu</td>
    <td></td>
  </tr>
  <tr>
    <td>Ian Coulter</td>
    <td>icoulter@hep.upenn.edu</td>
    <td>+1 215 898 1705</td>
  </tr>
  <tr>
    <td>Bill Heintzelman</td>
    <td>billh@hep.upenn.edu</td>
    <td>+1 215 898-1705</td>
  </tr>
  <tr>
    <td>Tanner Kaptanoglu</td>
    <td>tannerk@hep.upenn.edu</td>
    <td>+1 215 898 1705</td>
  </tr>
  <tr>
    <td>Paul Keener</td>
    <td>keener@hep.upenn.edu</td>
    <td></td>
  </tr>
  <tr>
    <td>Joshua Klein</td>
    <td>jrk@hep.upenn.edu</td>
    <td>+1 215 573 3599</td>
  </tr>
  <tr>
    <td>Eric Marzec</td>
    <td>marzece@hep.upenn.edu</td>
    <td>+1 215 898 1705</td>
  </tr>
  <tr>  
    <td>Andy Mastbaum</td>
    <td>mastbaum@hep.upenn.edu</td>
    <td>+1 215 898 1705</td>
  </tr>
  <tr>
    <td>Rick Van Berg</td>
    <td>rick@hep.upenn.edu</td>
    <td>+1 215 898 5977</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>Queen's University</h3></td></tr>
  <tr>
    <td>Mark Chen</td>
    <td>mchen@queensu.ca</td>
    <td>+1 613 533 6861</td>
  </tr>
  <tr>
    <td>Art McDonald</td>
    <td>art@snolab.ca</td>
    <td>+1 613 541 1405 (cell)</td>
  </tr>
  <tr>
    <td>Alex Wright</td>
    <td>awright@physics.queensu.ca</td>
    <td>+1 613 533 6000 ext.77856</td>
  </tr>
  <tr>
    <td>Ryan Martin</td>
    <td>ryan.martin@queensu.ca</td>
    <td>+1 613 533 2719</td>
  </tr>
  <tr>
    <td>Peter Skensved</td>
    <td>peter@owl.phy.queensu.ca</td>
    <td>+1 613 533 2676</td>
  </tr>
  <tr>
    <td>Szymon Manecki</td>
    <td>manecki@owl.phy.queensu.ca</td>
    <td>+1 613 533 6000 ext.78518</td>
  </tr>
  <tr>
    <td>Lianpeng Tian</td>
    <td>ltian@owl.phy.queensu.ca</td>
    <td>+1 613 533 6000 ext.78518</td>
  <tr>
    <td>Phil Harvey</td>
    <td>phil@owl.phy.queensu.ca</td>
    <td>+1 613 533 6000 ext.77788</td>
  </tr>
  <tr>
    <td>Satoko Asahi</td>
    <td>asahis@owl.phy.queensu.ca</td>
    <td>+1 613 533 6000 ext.77839</td>
  </tr>
  <tr>
    <td>Ian Lam</td>
    <td>ian.lam@owl.phy.queensu.ca</td>
    <td>+1 613 533 6857</td>
  </tr>
  <tr>
    <td>Yan Liu</td>
    <td>yan.liu@owl.phy.queensu.ca</td>
    <td>+1 613 533 6000 ext.77839</td>
  <tr>
    <td>Ted Zhao</td>
    <td>tzhao@owl.phy.queensu.ca</td>
    <td>+1 613 533 6000 ext.77839</td>
  </tr>
  <tr>
    <td>Caleb Miller</td>
    <td>14cdm@queensu.ca</td>
    <td>+1 613 533 6000 ext.77839</td>
  </tr>
  <tr>
    <td>Dan Bartlett</td>
    <td>14djb7@queensu.ca</td>
    <td>+1 613 533 6857</td>
  </tr>
  <tr>
    <td>Chuck Hearns</td>
    <td>chuck@owl.phy.queensu.ca</td>
    <td>+1 613 533 2673</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>Queen Mary University of London</h3></td></tr>
  <tr>
    <td>Jeanne Wilson</td>
    <td>j.r.wilson@qmul.ac.uk</td>
    <td>+44 207 882 6149</td>
  </tr>
  <tr>
    <td>Francesca Di Lodivico</td>
    <td>f.di.lodovico@qmul.ac.uk</td>
    <td>+44 207 882 6061</td>
  </tr>
  <tr>
    <td>Matthew Mottram</td>
    <td>m.mottram@qmul.ac.uk</td>
    <td>+44 207 882 6063</td>
  </tr>
  <tr>
    <td>Stefanie Langrock</td>
    <td>s.langrock@qmul.ac.uk</td>
    <td>+44 207 882 6572</td>
  </tr>
  <tr>
    <td>Evelina Arushanova</td>
    <td>e.arushanova@qmul.ac.uk</td>
    <td>+44 207 882 6572</td>
  </tr>
  <tr>
    <td>Ashley Back (half QMUL/Sussex)</td>
    <td>a.r.back@qmul.ac.uk</td>
    <td>+44 207 882 6572</td>
  </tr>
  <tr>
    <td>Billy Liggins</td>
    <td>billy.liggins@qmul.ac.uk</td>
    <td></td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>University of Sheffield</h3></td></tr>
  <tr>
    <td>John McMillan</td>
    <td>j.e.mcmillan@sheffield.ac.uk</td>
    <td>+44 114 222 3534</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>SNOLAB</h3></td></tr>
  <tr>
    <td>Christopher Jillings</td>
    <td>jillings@snolab.ca</td>
    <td>+1 705 692 7000 x2266</td>
  </tr>
  <tr>
    <td>Bruce Cleveland</td>
    <td>bclevela@snolab.ca</td>
    <td>+1 705 692 7000 x2235</td>
  </tr>
  <tr>
    <td>Fraser Duncan</td>
    <td>fduncan@snolab.ca</td>
    <td>+1 705 692 7000 x2205</td>
  </tr>
  <tr> 
    <td>Richard Ford</td>
    <td>ford@snolab.ca</td>
    <td>+1 705 692 7000 x2249</td>
  </tr>
  <tr>
    <td>Doug Horne</td>
    <td>dhorne@snolab.ca</td>
    <td>+1 705 692 7000 x2701</td>
  </tr>
  <tr>
    <td>Ian Lawson</td>
    <td>lawson@snolab.ca</td>
    <td>+1 705 692 7000 x2241</td>
  </tr>
  <tr>
    <td>Mark Hodak</td>
    <td>mhodak@snolab.ca</td>
    <td>+1 705 692 7000 x2251</td>
  </tr>
  <tr>
    <td>Paul Larochelle</td>
    <td>plarochelle@snolab.ca</td>
    <td>+1 705 692 7000 x2225</td>
  </tr>
  <tr>
    <td>Steven Back</td>
    <td>sback@snolab.ca</td>
    <td>+1 705 692 7000 x2709</td>
  </tr>
  <tr>
    <td>Andy Stripay</td>
    <td>astripay@snolab.ca</td>
    <td></td>
  </tr>
  <tr>
    <td>Ashley Mathewson</td>
    <td>amathewson@snolab.ca</td>
    <td>+1 705 692 7000 x2805</td>
  </tr>
  <tr>
    <td>Aaron Doxtator</td>
    <td>adoxtator@snolab.ca</td>
    <td>+1 705 692 7000 x2804</td>
  </tr>
  <tr>
    <td>Steve Maguire (BNL)</td>
    <td>smaguire@snolab.ca</td>
    <td>+1 705 692 7000 x2728</td>
  </tr>
  <tr>
    <td>Brad Hreljac</td>
    <td>bhreljac@snolab.ca</td>
    <td>+1 705 692 7000 x2720 (SNOLAB)</td>
  </tr>
  <tr>
    <td>Aleksandra Bialek (UofA)</td>
    <td>abialek@snolab.ca </td>
    <td>+1 705 692 7000 x2707</td>
  </tr>
  <tr>
    <td>Allan Barr (SNOLAB)</td>
    <td>abarr@snolab.ca</td>
    <td>+1 705 692 7000 x2223</td>
  </tr>
  <tr>
    <td>Noel Gagnon (SNOLAB)</td>
    <td>noel@snolab.ca</td>
    <td>+1 705 692 7000 x2238</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>University of Sussex</h3></td></tr>
  <tr>
    <td>Simon Peeters</td>
    <td>s.j.m.peeters@sussex.ac.uk</td>
    <td>+44 127 367 8128</td>
  </tr>
  <tr>
    <td>Lisa Falk</td>
    <td>e.falk@sussex.ac.uk</td>
    <td>+44 127 367 8538</td>
  </tr>
  <tr>
    <td>Jeff Hartnell</td>
    <td>j.j.hartnell@sussex.ac.uk</td>
    <td>+44 127 387 3214</td>
  </tr>
  <tr>
    <td>Ed Leming</td>
    <td>e.leming@sussex.ac.uk</td>
    <td>+44 127 387 6066</td>
  </tr>
  <tr>
    <td>James Waterfield</td>
    <td>jw419@sussex.ac.uk</td>
    <td>+44 127 387 6065</td>
  </tr>
  <tr>
    <td>Mark Stringer</td>
    <td>ms711@sussex.ac.uk</td>
    <td>+44 127 387 6065</td>
  </tr>
  <tr>
    <td>Richard White</td>
    <td>r.f.white@sussex.ac.uk</td>
    <td>+44 127 367 8102</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>TRIUMF</h3></td></tr>
  <tr>
    <td>Rich Helmer</td>
    <td>helmer@triumf.ca</td>
    <td>+1 604 222 7404</td>
  </tr>

  <tr><td colspan="3" style="background: #eee"><h3>University of Washington</h3></td></tr>
  <tr>
    <td>Luke Kippenbrock</td>
    <td>lkippenb@uw.edu</td>
    <td>+1 206 616 3113</td>
  </tr>
  <tr>	
    <td>Tim Major</td>
    <td>timmajor@uw.edu</td>
    <td>+1 206 616 3113</td>
  </tr>
  <tr>
    <td>Nikolai Tolich</td>
    <td>ntolich@u.washington.edu</td>
    <td>+1 206 543 1493
    <br/>+1 206 543 4223</td>
  </tr>

<script>
// http://www.joe-stevens.com/2010/02/18/convert-all-static-text-email-addresses-to-mailto-links-using-jquery/
$().ready(function() {
  var regEx = /(\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)/;
  $("table td").filter(function() {
    return $(this).html().match(regEx);
  }).each(function() {
    $(this).html($(this).html().replace(regEx, "<a href=\"mailto:$1\">$1</a>"));
  });
});
</script>
{% endblock %}

