{% extends 'base.html' %}
{% block title %}Phone Numbers | snopl.us{% endblock %}
{% block content %}
<h1>On-Site Phone Numbers</h1>
<h4>Author: I. Coulter, <a href="mailto:icoulter@hep.upenn.edu">icoulter@hep.upenn.edu</a></h4>

<table class="table table-striped table-condensed" style="width: 100%">
  <tr>
    <td colspan="3" style="background: #eee">
      <h3>SNOLAB Site Number: 705-692-7000</h3>
    </td>
  </tr>
  <tr>
    <td>UG Control Room</td>
    <td>ext. 3308</td>
  </tr>
  <tr>
    <td>AG Control Room</td>
    <td>ext. 2231 or 2229</td>
  </tr>
  <tr>
    <td>Teststand/Electronics Room</td>
    <td>ext. 2260</td>
  </tr>
  <tr>
    <td>Refuge (Lunch Room)</td>
    <td>ext. 3333</td>
  </tr>
 </table>
{% endblock %}


