{% extends 'debugdb/board.html' %}
{% load staticfiles %}
{% load filters %}
{% block channels %}
<br/>
<h4>Settings</h4>
<table class="table table-striped table-condensed">
<tr>
 <th>Retriggers</th>
 <td><input type="text" class="form-control" name="retriggers" value="{{ retriggers }}"/></td>
</tr>
</table>
<h4>Channels</h4>
<table class="table table-striped table-condensed">
 {% for channel in channels %}
 <tr>
  <th style="text-align: right">{{ forloop.counter0 }}</th>
  <td>
   {% with forloop.counter0 as index %}
   {% with "channel" as channel_type_title %}
   {% with "channels" as channel_type %}
   {% include "debugdb/components/channel.html" %}
   {% endwith %}
   {% endwith %}
   {% endwith %}
  </td>
  {% endfor %}
 </tr>
</table>
{% endblock %}

