{% extends 'debugdb/test.html' %}
{% load staticfiles %}
{% load filters %}
{% block results %}

<script src="{% static "js/jquery.flot.min.js" %}"></script>

<h3>ADC vs. DAC</h3>

<div id="adcs" style="width:600px;height:300px;"></div>

<script type="text/javascript">
  $(function () {
    var dac_value = [ {{ dac_value|join:"," }} ];
    var adc = [
      [ {{ adc_0|join:"," }} ],
      [ {{ adc_1|join:"," }} ],
      [ {{ adc_2|join:"," }} ],
      [ {{ adc_3|join:"," }} ],
    ];

    for (var i=0; i<adc.length; i++) {
      for (var j=0; j<adc[i].length; j++) {
        adc[i][j] = [ dac_value[j], adc[i][j] ]
      }
    }

    $.plot($("#adcs"), [
      { label: "ADC 0",  data: adc[0]},
      { label: "ADC 1",  data: adc[1]},
      { label: "ADC 2",  data: adc[2]},
      { label: "ADC 3",  data: adc[3]}
    ]);
  });
</script>

{% endblock %}

