{% extends 'debugdb/test.html' %}
{% load filters %}
{% block results %}
<h3>Results</h3>
<table class="table">
 <tr>
  <th style="width: 1%">Temperature</th>
  <td>{{ temp|floatformat:3 }}</td>
 </tr>
 <tr>
  <th>CALD</th>
  <td>{{ cald|floatformat:3 }}</td>
 </tr>
 <tr>
  <th>HVT</th>
  <td>{{ hvt|floatformat:3 }}</td>
 </tr>
</table>

<h4>Voltages</h4>
<table class="table table-striped table-condensed">
 {% for voltage in voltages %}
 <tr>
  <td style="text-align: right">{{ voltage.name }}</td>
  <td style="text-align: center">
   {% if voltage.ok %}
    <span class="label label-success">pass</span>
   {% else %}
    <span class="label label-danger">fail</span>
   {% endif %}
  </td>
  <td>{{ voltage.value|floatformat:3 }}</td>
 </tr>
 {% endfor %}
</table>
{% endblock %}

